body {
    background-color: black;
    cursor: url("../img/cursor.png"), default;
}
p {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    color: white;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
input {
    width: 60px;
}
span {
    font-size: 0.4em;
    font-weight: normal;
}
#urlText {
    font-size: 1em;
    user-select: auto;
    -moz-user-select: auto;
    -webkit-user-select: auto;
}